.growtype-post-cta-wrapper {
  display: flex;
  padding-top: 10px;
  padding-bottom: 0;
  gap: 20px;
}

.growtype-post-btn-like, .growtype-post-btn-share {
  display: flex;
  gap: 7px;
  background: none;
  cursor: pointer;

  a:not([class]) {
    text-decoration: none;
  }

  .wp-block-button__link {
    background: none !important;
    border: none !important;
    color: var(--secondary-text-color) !important;
    padding: 0;
    min-width: initial;
    padding-left: 10px;
  }

  &:before {
    font-size: 22px;
  }
}

.growtype-post-btn-like {
  width: initial !important;
  display: flex !important;
  align-items: center !important;

  .e-amount {
    position: relative;
  }

  .e-text {
    position: relative;

    &:before {
      content: '\e808';
      font-family: 'growtype-icons';
      margin-right: 6px;
    }
  }

  &.is-active {
    .e-text {
      &:before {
        content: '\e801';
        font-family: 'growtype-icons';
      }
    }
  }
}

.growtype-post-btn-share {
  font-weight: 300;
  position: relative;
  top: 0;
  width: initial !important;
  display: flex !important;
  align-items: center !important;
  gap: 7px;

  &:before {
    content: '\e9bf';
    font-family: 'growtype-icons';
    font-size: 24px;
  }
}

a[data-growtype-post-load-more] {
  position: relative;
  min-height: 53px;
  display: flex;
  align-items: center;
  justify-content: center;

  .spinner-border {
    position: relative;
    border-color: white;
  }
}
