.growtype-post-terms-filter {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;

  .growtype-post-terms-filter-btn {
    &.is-active {
      background: var(--btn-secondary-background-color-active);
      color: var(--btn-secondary-color-active);
    }

    @include bp-phone-xl() {
      width: 100%;
    }
  }
}
