.growtype-post-terms-filter {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-bottom: 30px;
  flex-wrap: wrap;

  .growtype-post-terms-filter-btn {
    &.is-active {
      background: var(--btn-secondary-background-color-active);
      color: var(--btn-secondary-color-active);
    }

    @include bp-phone-xl() {
      width: 100%;
    }
  }
}

.growtype-post-terms-filters {
  .chosen-container {
    margin-bottom: 20px;
  }
}

div.growtype-post-terms-filter {
  @include bp-phone-xl() {
    display: none;
  }
}

select.growtype-post-terms-filter {
  & + .chosen-container {
    @include bp-phone-xl-reverse() {
      display: none;
    }
  }

  @include bp-phone-xl-reverse() {
    display: none;
  }
}
