.gp-breadcrumbs {
  display: flex;
  align-items: center;
  gap: 4px;

  a {
    text-decoration: none;
  }
}

.single {
  article {
    .b-info {
      &:empty {
        display: none;
      }
    }
  }

  .content {
    padding-bottom: 40px;

    p {
      & + h2,
      & + h3,
      & + h4,
      & + h5 {
        padding-top: 20px;
      }

      & + figure {
        padding-top: 20px;
      }
    }

    figure {
      & + h2,
      & + h3,
      & + h4,
      & + h5 {
        padding-top: 10px;
      }
    }
  }

  .s-content {
    margin-top: 0;
    margin-bottom: 10px;

    .container {
      margin: auto;
      max-width: 768px;
    }
  }

  .section-breadcrumbs {
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 10px;

    .btn-back {
      color: black;
    }
  }

  .section-title {
    h1 {
      @include bp-phone-xl() {
        margin-bottom: 0;
      }
    }
  }

  .section-taxonomy {
    padding-bottom: 30px;
  }

  .section-readingtime {
    padding-bottom: 30px;
  }

  .section-featuredimg {
    padding-bottom: 30px;
    padding-top: 45%;
    position: relative;

    & + .content-wrapper {
      padding-top: 30px;
    }

    .section-featuredimg-caption {
      position: absolute;
      right: 0;
      bottom: -47px;
    }
  }

  .growtype-post-social-cta-wrapper {
    justify-content: center;

    & + .content-wrapper {
      padding-top: 30px;
    }
  }

  article .section-featuredimg {
    margin-top: 33px;
  }
}
