.single {
  .content {
    padding-bottom: 40px;

    p {
      & + h3 {
        padding-top: 20px;
      }
    }
  }

  .s-content {
    margin-top: 0;
    margin-bottom: 10px;

    .container {
      margin: auto;
      max-width: 768px;
    }
  }

  .section-back {
    padding-bottom: 40px;

    .btn-back {
      color: black;
    }
  }

  .section-title {
    h1 {
      @include bp-phone-xl() {
        margin-bottom: 0;
      }
    }
  }

  .section-taxonomy {
    padding-bottom: 30px;
  }

  .section-readingtime {
    padding-bottom: 30px;
  }

  .section-featuredimg {
    padding-bottom: 30px;
    padding-top: 45%;
    position: relative;

    & + .content-wrapper {
      padding-top: 50px;
      @include bp-phone-xl() {
        padding-top: 30px;
      }
    }

    .section-featuredimg-caption {
      position: absolute;
      right: 0;
      bottom: -47px;
    }
  }

  .cta-wrapper {
    justify-content: center;

    & + .content-wrapper {
      padding-top: 50px;
      @include bp-phone-xl() {
        padding-top: 30px;
      }
    }
  }
}
