@import "basic";
@import "review";
@import "blog";
@import "product";

.growtype-post-container {
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
  display: grid;
  grid-template-columns: repeat(var(--growtype-post-posts-grid-columns-count), 1fr);
  grid-gap: 15px;
  @include bp-tablet() {
    grid-template-columns: repeat(3, 1fr);
  }
  @include bp-tablet-portrait() {
    grid-template-columns: repeat(2, 1fr);
  }
  @include bp-phone-xl() {
    grid-template-columns: repeat(1, 1fr);
  }

  .growtype-post-single {
    width: 100%;
  }

  &.slick-initialized {
    display: block;
  }

  .growtype-post-single {
    &.growtype-post-product {
      @include bp-phone-xl() {
        width: 50%;
      }
    }
  }
}

/*Open post in modal*/
.modal-growtype-post {
  .modal-header {
    padding: 0;
    margin: 0;
    border: none;

    button.btn-close {
      background: white;
      padding: 10px;
      border-radius: 0;
      z-index: 2;

      &:before {
        margin: auto;
        width: 30px;
        font-size: 30px;
      }
    }
  }

  .modal-dialog {
    max-width: 1230px;
  }
}

/**
 Actions
 */
.gp-actions-wrapper {
  display: flex;
  justify-content: center;
  padding-top: 50px;

  .btn {
    @include bp-phone-xl() {
      width: 100%;
    }

    &.is-loading {
      background: none;
      border: none;
    }
  }
}

.s-posts-related {
  padding-top: 50px;
  padding-bottom: 50px;
  @include bp-phone-xl() {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .b-post-single {
    @include bp-phone-xl() {
      padding-bottom: 0;
      margin-bottom: 0;
    }
  }

  .container {
    position: relative;
  }

  .block-title {
    & + .growtype-post-container-wrapper {
      padding-top: 10px;
    }
  }
}

.content-wrapper + .s-posts-related {
  margin-top: 20px;
}
