.growtype-form {
  .main-fields {
    h3 {
      font-size: 18px;
      position: relative;

      &:before {
        content: "";
        height: 3px;
        width: 30px;
        background: #7963F0;
        display: inline-block;
        position: absolute;
        bottom: -12px;
      }
    }

    .e-wrapper.col-12 {
      .select2-container {
        width: 100% !important;
      }
    }
  }

  .horizontal-content {
    .form-check-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin-top: 5px;

      .form-check {
        margin-right: 15px;
      }
    }
  }
}

