.wp-block-growtype-post {
  max-width: var(--max-width-container);
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;

  &.alignfull {
    max-width: initial;
  }
}

.container {
  .wp-block-growtype-post {
    padding-left: 0;
    padding-right: 0;
  }
}

.container .alignfull.wp-block-group:where(.has-background) {
  .wp-block-growtype-post {
    @include bp-phone-xl() {
      padding-left: 0;
      padding-right: 0;
    }
  }
}
